body{
    background-color: lemonchiffon;
    background-image: url(https://www.bhphotovideo.com/images/images500x500/Savage_34_50_107_x_50yds_Background_486258.jpg);
    color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .rizz{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: steelblue;
    background-color: cadetblue;
    font-size: large;
    font-weight: 600;
  }